<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create todo</title>
</head>
<body>
<style>
    form{
    margin-top: 15%;
    font-size: 250%;
    }
    #submit{
    position: relative;
    right:-85%;
    }
    ul{
    list-style-type: none;
    }
    li{
    display: inline-block;
    }
</style>
{% extends 'todo/base.html' %}
{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <br><br>
        <input type="submit" id="submit">
    </form>
</div>
{% endblock %}
</body>
</html>